{% extends "base.html" %}

{% block content %}
<div id="chart">
    loading...
</div>

<select class="pull-right" id="chart-data-range">
    <option value="1">Last 24 Hours</option>
    <option value="7">Last 7 Days</option>
    <option value="0">All Data</option>
</select>

<div class="row">
    <div class="col-lg-4">
        <div class="well">
            <h2>Statistics</h2>
            <p>For currently loaded data:</p>
            <dl class="dl-horizontal">
                <dt>Max Tank Temp</dt>
                <dd><span id="ttank-max">~</span> °F</dd>
                <dt>Avg Tank Temp</dt>
                <dd><span id="ttank-avg">~</span> °F</dd>
                <dt>Min Tank Temp</dt>
                <dd><span id="ttank-min">~</span> °F</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Max Ambient Temp</dt>
                <dd><span id="tambient-max">~</span> °F</dd>
                <dt>Avg Ambient Temp</dt>
                <dd><span id="tambient-avg">~</span> °F</dd>
                <dt>Min Ambient Temp</dt>
                <dd><span id="tambient-min">~</span> °F</dd>
            </dl>
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="well">
            <h2>Tank Picture</h2>
            <p>The <a href="http://www.planetinverts.com/Yellow%20Shrimp.html">shrimp</a> say hello!</p>
            <img src="{{ STATIC_URL }}img/shrimp.jpg" alt="shrimp!">
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="well">
            <h2>Tank Settings</h2>
            <form role="form">
                <div class="form-group">
                    <label for="light-on">Tank Light Enable</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="light-on" value="9:00 am" disabled>
                        <span class="input-group-addon">to</span>
                        <input type="text" class="form-control" id="light-off" value="10:00 pm" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="light-off">Heater Enable</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="heater-max" value="78.00" disabled>
                        <span class="input-group-addon">°F</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="logger-delay">Logger Sample Delay</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="logger-delay" value="600" disabled>
                        <span class="input-group-addon">seconds</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-default" disabled>Save</button>
            </form>
        </div>
    </div>
    
</div>
{% endblock content %}